@import "tailwindcss";

.text-stroke {
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}